.tzafrir {
  margin: 1rem auto;
  border: .4rem solid black;
  padding: 1rem;
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  line-height: 8.2rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}